altair==6.0.0
annotated-types==0.7.0
attrs==25.4.0
autograd @ file:///home/conda/feedstock_root/build_artifacts/autograd_1746451452558/work
autograd-gamma @ file:///home/conda/feedstock_root/build_artifacts/autograd-gamma_1734571712221/work
blinker==1.9.0
cachetools==6.2.6
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
contourpy @ file:///D:/bld/bld/rattler-build_contourpy_1769155978/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
ecos @ file:///D:/bld/bld/rattler-build_ecos_1762417392/work
fonttools @ file:///D:/bld/fonttools_1765632578939/work
formulaic @ file:///home/conda/feedstock_root/build_artifacts/formulaic_1761105639220/work
gitdb==4.0.12
GitPython==3.1.46
htmlmin==0.1.12
idna==3.11
ImageHash==4.3.2
interface_meta @ file:///home/conda/feedstock_root/build_artifacts/interface_meta_1734284382083/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib==1.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1762488777/work
lifelines @ file:///home/conda/feedstock_root/build_artifacts/lifelines_1734571725744/work
MarkupSafe==2.1.5
matplotlib==3.10.8
missingno==0.5.2
multimethod==2.0.2
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1770040381/work
networkx==3.6.1
numexpr @ file:///D:/bld/numexpr_1764766614265/work
numpy @ file:///D:/bld/bld/rattler-build_numpy_1770098408/work/dist/numpy-2.4.2-cp312-cp312-win_amd64.whl#sha256=c8807c27a11e2491e06292976e3fc7a3ebaaec6532787fff4f153ce1a56a15d6
opencv-python==4.13.0
opencv-python-headless==4.13.0
osqp @ file:///D:/bld/bld/rattler-build_osqp_1771233460/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas==2.3.3
pandas-profiling==3.2.0
phik==0.12.5
pillow @ file:///D:/bld/bld/rattler-build_pillow_1770794018/work
protobuf==6.33.5
pyarrow==23.0.0
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-decouple==3.8
pytz==2025.2
PyWavelets==1.9.0
PyYAML==6.0.3
qdldl @ file:///D:/bld/bld/rattler-build_qdldl-python_1757138894/work
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
scikit-learn @ file:///D:/bld/scikit-learn_1715869386874/work
scikit-survival @ file:///D:/bld/scikit-survival_1730729375993/work
scipy @ file:///C:/bld/scipy-split_1768799507995/work/dist/scipy-1.17.0-cp312-cp312-win_amd64.whl#sha256=db8e4e880bce9f4b42c60f1eea822ba245ff4583aacd92432493c33d9550703e
seaborn==0.13.2
setuptools==82.0.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
streamlit==1.54.0
streamlit-aggrid==1.2.1.post2
streamlit-pandas-profiling==0.1.3
tangled-up-in-unicode==0.2.0
tenacity==9.1.4
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
toml==0.10.2
tornado==6.5.4
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
unicodedata2 @ file:///D:/bld/unicodedata2_1770908971129/work
urllib3==2.6.3
visions==0.7.4
watchdog==6.0.0
wheel==0.46.3
wrapt @ file:///D:/bld/wrapt_1770111912879/work

